:root {
    --bg-wood: #3e2723; /* 짙은 나무색 */
    --bg-parchment: #f5f5dc; /* 양피지색 */
    --text-gold: #ffd700; /* 금색 텍스트 */
    --font-serif: 'Merriweather', serif;
}

body {
    background-color: var(--bg-wood);
    background-image: url('../assets/images/bg_library_main.webp');
    font-family: var(--font-serif);
    color: var(--bg-parchment);
}
